 .header , .nav , .main , .sidebar , .advertise , .footer{
    background-color: bisque;
    border: 2px solid tomato;
    margin: 5px;
 }


.header{
    grid-area: header;

}
.nav {
    grid-area: nav;
}

.main{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}